!!! 5
html
  head
    include includes/head
  
  body
    include includes/nav

    .container
      h4 Reports for Writer's Block 2013

      ul
        li
          a(href="/thru-date") Standings By Date
        li
          a(href="/diff") Diff Two Dates
        li 
          a(href="/perfs") Top Single-Day Performances

      


    
    include includes/foot
    