nav(class="navbar navbar-inverse", role="navigation")
  .navbar-header
    a.navbar-brand(href='/') Roto-Scraper

  ul.nav.navbar-nav
    
    li(class=(path.match(/^\/?$/) ? "active" : ""))
      a(href='/') Home
    li(class=(path.match(/^\/thru-date/) ? "active" : ""))
      a(href='/thru-date') Thru Date
    li(class=(path.match(/^\/diff/) ? "active" : ""))
      a(href='/diff') Diff