nav(class="navbar navbar-inverse", role="navigation")
  .navbar-header
    a.navbar-brand(href='/') Roto-Scraper

  ul.nav.navbar-nav
    - var lastScrape = new Date ("2013-10-03T06:21:07.746Z")

    li(class=(path.match(/^\/?$/) ? "active" : ""))
      a(href='/') Home
    li(class=(path.match(/^\/thru-date/) ? "active" : ""))
      a(href='/thru-date') Thru Date
    li(class=(path.match(/^\/diff/) ? "active" : ""))
      a(href='/diff') Diff
    li(class="navbar-text pull-right")
      = "Last Scrape: "+lastScrape