.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#/') Roto-Scraper
      .nav-collapse.collapse
        ul.nav
          li.active
            a(href='/') Home
          li
            a(href='/thru-date') Thru Date
          li
            a(href='/diff') Diff
          li
            a(href='/perfs') Top Perfs